body{
background-color: black;
}
.ce{
  text-align:center;
}
.row{
  margin-top: 50px;
  padding-top: 100px;

}
.pa{
padding-top: 50px;
color:#3C79F5;
font-family: 'Noto Sans', sans-serif;
line-height: 35px;
}
.im{
  border-radius:10%;
}
.re{
font-family: 'Dancing Script', cursive;
color:#fff;
font-size: 40px;
text-align: center;
padding-top:80px;
}
.bi{
  font-size: 30px;
  color:#CD0404;
  font-style: normal;
  font-weight: bold;
  font-family: 'Dancing Script';
}
